{% extends 'base.html.twig' %}

{% block body %}
    <h1>Administration</h1>


    <div class="col-sm-11">
        <button class="btn btn-primary"><a href="/web/app_dev.php/admin/inscriptions" style="color: white; text-decoration: none">Inscriptions</a></button>
    {{ form_start(form) }}
        <div class="form-group row">
            <label for="nom" class="col-sm-2 col-form-label">Nom</label>
            <div class="col-sm-10">
                {{ form_widget(form.nom) }}
            </div>
        </div>
        <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                {{ form_widget(form.description,{'attr': {'rows': '5'}}) }}
            </div>
        </div>
        <div class="form-group row">
            <label for="limitAge" class="col-sm-2 col-form-label">A partir de</label>
            <div class="col-sm-10">
                {{ form_widget(form.limitAge) }} an(s)
            </div>
        </div>
        <div class="form-group row">
            <label for="tarif" class="col-sm-2 col-form-label">Tarif</label>
            <div class="col-sm-10">
                {{ form_widget(form.tarif) }} €
            </div>
        </div>
        <div class="form-group row">
            <label for="categorie" class="col-sm-2 col-form-label">Catégorie</label>
            <div class="col-sm-10">
                {{ form_widget(form.categorie) }}
            </div>
        </div>
        <div class="form-group row">
            <label for="jour" class="col-sm-2 col-form-label">Jour de la semaine</label>
            <div class="col-sm-10">
                {{ form_widget(form.jour) }}
            </div>
        </div>
        <div class="form-group row">
            <label for="heure" class="col-sm-2 col-form-label">Heure</label>
            <div class="col-sm-10">
                {{ form_widget(form.heure) }}
            </div>
        </div>
        <div class="form-group row">
            <label for="duree" class="col-sm-2 col-form-label">Durée</label>
            <div class="col-sm-10">
                {{ form_widget(form.duree) }}
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <input type="submit" value="Valider" class="btn btn-primary"/>
            </div>
        </div>
    {{ form_end(form) }}
    </div>
{% endblock %}