{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ description_activite.nom }}</h1>
    <h3>Description : </h3>
    <p>{{ description_activite.description }}</p>
    <p>Activité proposée le {{ description_activite.jour }} à {{ description_activite.heure|date('H:i') }} et dure {{ description_activite.duree }} heures</p>
    {% if description_activite.limitAge>0 %}
    <h3>Activité diponible à partir de : </h3>
    <p>{{ description_activite.limitAge }} ans</p>
    {% endif %}
    <h3>Tarif : </h3>
    <p>{{ description_activite.tarif }}€</p>
    <button class="btn btn-primary"> <a  href="/web/app_dev.php/inscractivite/{{ description_activite.id }}" style="color: white"  >
            Je m'inscris
        </a> </button>



{% endblock %}